@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
:root {
    --darker-blue:  #0D1117;
    --dark-blue: #161B22;
    --blue: #6C63FF;
    --white: #fff;
    --btn-border: solid 2px var(--darker-blue);
}
* {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Jost', sans-serif;
    background-color: var(--darker-blue);
    color: var(--white);
    font-size: 16px;
}
nav {
    background-color: var(--dark-blue);
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    z-index: 4;
}
.nav-title i {
    margin-right: auto;
}
.nav-pages {
    font-size: 1.6rem;
    font-weight: 400;
}
a {
    flex-basis: 30%;
    text-decoration: none;
    padding: 0.5rem;
    color: var(--white);
}
.nav-pages a {
    border-bottom: solid 2px var(--white);
}
.nav-pages a:hover {
    opacity: 50%;
}
header {
    display: flex;
    margin: 6.25rem 1.56rem 0 1.56rem;
    color: var(--white);
    justify-content: space-evenly;
}
img {
    width: 100%;
    max-height: 100%;
    margin-top: 1.25rem;
}
.home-header {
    min-width: 15.63rem;
    margin: 3rem 0;
}
.home-header p {
    margin: auto 1.8rem;
    font-size: 1.3rem;
    display: flex;
}
.container-links {
    display: flex;
    width: 15.63rem;
    justify-content: space-evenly;
    background-color: var(--blue);
    margin: 3rem;
    margin-left: 25px;
    padding: 1rem;
}
.container-links a {
    font-size: 1.3rem;
    border-radius: 15px;
}
.container-links a:hover {
    background-color: #7C83FD;
    color: black;
}
.install-link {
    border-right: var(--btn-border);
}
.feat-link {
    border-left: var(--btn-border);
}
.container{
    border: solid 2px var(--blue);
    text-align: center;
    align-content: center;
    width: 85vw;
    margin: 4.5rem auto 3rem auto;
    border-radius: 30px;
    font-size: 20px;
    box-shadow: var(--blue) 0px 54px 55px, var(--blue) 0px -12px 30px, var(--blue) 0px 4px 6px, var(--blue) 0px 12px 13px, var(--blue) 0px -3px 5px;
}
.block-header {
    font-size: 2rem;
    margin-top: 4.5rem;
    font-style: italic;
}
iframe {
    display: block;
    margin: 1.25rem auto 1.25rem auto;
    position: relative;
    z-index: 2;
}
#features {
    margin-top: 5.5rem;
    margin-bottom: 7.5rem;
    padding-bottom: 2rem;
}
.features-adv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.features-adv label {
    font-size: 2rem;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
}
label i {
    font-size: 4rem;
}
footer {
    background-color: var(--dark-blue);
    position: fixed;
    bottom: 0;
    padding: 1rem;
    width: 100vw;
    z-index: 3;
    height: 2rem;
    display: flex;
    justify-content: center;
}
.social-links {
    display: flex;
    z-index: 5;
    margin-left: 1.25rem;
    justify-content: center;
    align-items: center;
}
.social-links a {
    font-size: 1.5rem;
}
.social-links a:hover {
    opacity: 50%;
}
footer img {
    width: 6.25rem;
   height: 6.25rem;
   margin: auto;
}

/* RESPONSIVE */

@media screen and (max-width:767px) {
    body {
        font-size: 16px;
    }
    nav {
        height: 5rem;
        font-size: 1.5rem;
        margin-left: -8%;
    }
    .nav-pages {
        font-size: 1.15rem;
    }
    .logo-img {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    header {
        flex-direction: column;
    }
    .art-img {
        margin: auto;
    }
    header img {
        height: 18rem;
        width: 18rem;
    }
    .home-header .head {
        font-size: 2.5rem;
    }
    .ui-title img {
        width: 25%;
        height: 25%;
        margin-top: 1.25rem;
    }
    .home-header p {
        font-size: 1.13rem;
    }
    .container {
        font-size: 1.13rem;
    }
    .features-adv, .features-adv label {
        flex-direction: column;
        font-size: 1.13rem;
        gap: 10px;
    }
    label i {
        font-size: 2.5rem;
    }
    footer p {
        flex-basis: 25%;
    }
    .container-links {
        margin: 1.25rem auto;
    }
}