@import url(../style.css);

:root {
    --darker-blue:  #0D1117;
    --dark-blue: #161B22;
    --blue: #6C63FF;
    --white: #fff;
    --btn-border: solid 2px var(--darker-blue);
}
nav {
    font-size: 2rem;
}
.nav-title i {
    font-size: 2rem;
}
.components-list {
    margin-top: 6rem;
}
.components {
    opacity: 30%;
}
.component-container {
    box-shadow: 0px 15px 10px -15px var(--blue); 
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.display-components {
    position: absolute;
    list-style: none;
    display: flex;
    flex-direction: column;
    top: 4rem;
    height: 100vh;
    padding: 1rem;
    padding-left: 0;
    position: fixed;
    font-size: 1.3rem;
    font-weight: 500;
    width: 256px;
    z-index: 7;
    transition: .5s ease;
    margin-left: -10px;
}
#toggle-btn {
    position: fixed;
    z-index: 8;
    font-size: 1.5rem;
    background-color: var(--white);
    margin-left: 13rem;
    top: 5rem;
}
#toggle-btn:hover {
    background-color: rebeccapurple;
}
.display-components li {
    background-color: var(--blue);
    margin-left: 10px;
    flex-basis: 8%;
    transition: .5s ease;
    padding-left: 1rem;
}
.display-components li:hover {
    margin-left: 2rem;
}
h2, h3 {
    text-align: center;
}
h2 {
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 16px;
    }
    nav {
        height: 5rem;
        font-size: 1.5rem;
        margin-left: -8%;
    }
    .nav-title i {
        font-size: 1.5rem;
    }
    .display-components {
        margin-top: 1rem;
        font-size: 1.1rem;
        width: 100vw;
        height: 100vh;
    }
    .display-components li {
        flex-basis: 7%;
    }
    #toggle-btn {
        left: 0rem;
    }
}